.edit-page {
    gap: 15px;

    input {
        padding: 12px;
        border-radius: 5px;
        border: 1px solid gray;
        outline: 0;
        font-weight: 500;
        width: 250px;
    }

    .edit-btn {
        cursor: pointer;
        padding-block: 8px;
        padding-inline: 13px;
    }

    .edit-nav {
        justify-content: space-between;
        // gap: 200px;
        width: 100%;
        font-size: 1.3rem;

        button {
            background-color: transparent;
            border: none;
            color: #333;
            padding: 0;
            cursor: pointer;
            font-size: 1.3rem;
        }
    }
}