<section *ngIf="contact" class="edit-page flex column center">
    <h3>{{!contact._id ? 'Add' : 'Edit'}} contact</h3>
<!-- 
    <pre>
        {{form.value|json}}
    </pre> -->

    <form  #form="ngForm" (ngSubmit)="onSubmit(form)" class="flex column center gap16">
        <input [(ngModel)]="contact.name" type="text" name="name" placeholder="Name">
        <input [(ngModel)]="contact.phone" type="text" name="phone" placeholder="Phone">
        <input [(ngModel)]="contact.email" type="text" name="email" placeholder="Email">
        <button class="edit-btn">{{!contact._id ? 'Add' : 'Edit'}} </button>
    </form>
    <div class="flex edit-nav">
        <a (click)="onBack()">Back</a>
        <button *ngIf="contact._id" class="remove-btn" (click)="onRemove()">Remove</button>
    </div>

</section>